<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <h1>Login</h1>
    <form action="submit" method="POST">{% csrf_token %}
          <div align="left">
            <label>Usuário:</label><br />
            <input type="text" name="username"><br />
            <label>Password:</label><br />
            <input name="password" type="password"><br />
            <button type="submit">Entrar</button>
          </div>
    </form>

    {% for message in messages %}
        <div align="center">
            <strong style="background-color:tomato;"> Erro!!! {{ message }} </strong>
        </div>
    {% endfor %}
</body>
</html>